/de/haniibrahim/seriallogger/vsp.png
/de/haniibrahim/seriallogger/serial_th.png
/de/haniibrahim/seriallogger/serial.png
/de/haniibrahim/seriallogger/serial.ico
de/haniibrahim/seriallogger/serial.icns
.DS_Store
/NS-AppendFeature*.nsd
